body {
      background-image: url('/html/Image/feedback.jpeg');
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif;
      }
      h1,label{
        color:black;
      }
.container {
     width: 100%;
     max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input[type="text"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        .form-group input[type="submit"] {
            background-color: #4caf93;
            color: black;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
        .form-group input[type="submit"]:hover {
            background-color: #4ca8af;
        }